<div class="card border-primary bg-transparent" (click)="onVoteContestant()">
  <!-- <img class="card-img-top"  src="https://st3.depositphotos.com/17828278/33150/v/450/depositphotos_331503262-stock-illustration-no-image-vector-symbol-missing.jpg" alt="Cover Image"> -->
  <img class="card-img-top"  src={{contestant.img}} alt="Cover Image">
  <div class="card-body text-center">
    <!-- <h3 class="card-title">Placeholder Title</h3> -->
    <h3 class="card-title">{{contestant.name}}</h3>
    <!-- <p class="card-text"> Placeholder text<br>Placeholder date</p> -->
    <p class="card-text">{{contestant.date}}<br>{{contestant.author}}</p>
  </div>
</div>
