<div class="container px-5">
    <div class="row justify-content-center align-items-center g-2 my-2 my-md-5">
        <div class="col p-2 p-sm-0">
            <h1 class="text-light">Elige una categoría para tu torneo</h1>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-md-5">
        <div class="p-1 p-sm-3 col-sm-4 col-lg">
            <div class="card text-bg-primary">
                <div class="d-none d-md-block">
                    <img src="assets/category_icons/movies.png" class="card-img w-100" alt="Imagen Peliculas">
                    <div class="card-img-overlay" (click)="gotoMovies()">
                        <h5 class="card-title">Peliculas</h5>
                    </div>
                </div>
                <div class="card-body d-block d-md-none">Peliculas</div>
            </div>
        </div>
        <div class="p-1 p-sm-3 col-sm-4 col-lg">
            <div class="card text-bg-primary">
                <div class="d-none d-md-block">
                    <img src="assets/category_icons/series.png" class="card-img" alt="Imagen Series">
                    <div class="card-img-overlay " (click)="gotoSeries()">
                        <h5 class="card-title border-0">Series</h5>
                    </div>
                </div>
                <div class="card-body d-block d-md-none">Series</div>
            </div>
        </div>
        <div class="p-1 p-sm-3 col-sm-4 col-lg">
            <div class="card text-bg-primary">
                <div class="d-none d-md-block">
                    <img src="assets/category_icons/games.png" class="card-img" alt="Imagen Juegos">
                    <div class="card-img-overlay" (click)="gotoGames()">
                        <h5 class="card-title">Juegos</h5>
                    </div>
                </div>
                <div class="card-body d-block d-md-none">Juegos</div>
            </div>
        </div>
        <div class="p-1 p-sm-3 col-sm-4 col-lg">
            <div class="card text-bg-primary">
                <div class="d-none d-md-block">
                    <img src="assets/category_icons/anime.png" class="card-img" alt="Imagen Anime">
                    <div class="card-img-overlay" (click)="gotoAnime()">
                        <h5 class="card-title">Anime</h5>
                    </div>
                </div>
                <div class="card-body d-block d-md-none">Anime</div>
            </div>
        </div>
        <div class="p-1 p-sm-3 col-sm-4 col-lg">
            <div class="card text-bg-primary">
                <div class="d-none d-md-block">
                    <img src="assets/category_icons/manga.png" class="card-img" alt="Imagen Manga">
                    <div class="card-img-overlay" (click)="gotoManga()">
                        <h5 class="card-title">Manga</h5>
                    </div>
                </div>
                <div class="card-body d-block d-md-none">Manga</div>
            </div>
        </div>
        <div class="p-1 p-sm-3 col-sm-4 col-lg">
            <div class="card text-bg-primary">
                <div class="d-none d-md-block">
                    <img src="assets/category_icons/music.png" class="card-img" alt="Imagen Albums">
                    <div class="card-img-overlay" (click)="gotoAlbums()">
                        <h5 class="card-title">Discos</h5>
                    </div>
                </div>
                <div class="card-body d-block d-md-none">Discos</div>
            </div>
        </div>
    </div>
</div>
