<div class="container px-5">
    <div class="row justify-content-center align-items-center g-2 my-5">
        <div class="col p-3 p-sm-0">
            <h1 class="text-light">Elige una categoría para tu torneo</h1>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-5">
        <div class="p-5 p-sm-3 col-sm-4 col-lg">
            <div class="card">
                <img src="../../../../../assets/category_icons/movies.png" class="card-img w-100" alt="Imagen Peliculas">
                <div class="card-img-overlay" (click)="gotoMovies()">
                  <h5 class="card-title">Peliculas</h5>
                </div>
            </div>
        </div>
        <div class="p-5 p-sm-3 col-sm-4 col-lg">
            <div class="card">
                <img src="../../../../../assets/category_icons/series.png" class="card-img" alt="Imagen Series">
                <div class="card-img-overlay " (click)="gotoSeries()">
                  <h5 class="card-title border-0">Series</h5>
                </div>
            </div>
        </div>
        <div class="p-5 p-sm-3 col-sm-4 col-lg">
            <div class="card">
                <img src="../../../../../assets/category_icons/games.png" class="card-img" alt="Imagen Juegos">
                <div class="card-img-overlay" (click)="gotoGames()">
                  <h5 class="card-title">Juegos</h5>
                </div>
            </div>
        </div>
        <div class="p-5 p-sm-3 col-sm-4 col-lg">
            <div class="card">
                <img src="../../../../../assets/category_icons/anime.png" class="card-img" alt="Imagen Anime">
                <div class="card-img-overlay" (click)="gotoAnime()">
                  <h5 class="card-title">Anime</h5>
                </div>
            </div>
        </div>
        <div class="p-5 p-sm-3 col-sm-4 col-lg">
            <div class="card border-white">
                <img src="../../../../../assets/category_icons/manga.png" class="card-img" alt="Imagen Manga">
                <div class="card-img-overlay" (click)="gotoManga()">
                  <h5 class="card-title">Manga</h5>
                </div>
            </div>
        </div>
        <div class="p-5 p-sm-3 col-sm-4 col-lg">
            <div class="card">
                <img src="../../../../../assets/img_not_found.png" class="card-img" alt="Imagen Albums">
                <div class="card-img-overlay" (click)="gotoAlbums()">
                  <h5 class="card-title">Discos</h5>
                </div>
            </div>
        </div>
    </div>
</div>
