<div class="container">
    <div class="row justify-content-center align-items-center g-2 m-3">
        <div class="col">
            <h1>Elige una categoría para tu torneo</h1>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-5">
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../../../assets/category_icons/power-on-svgrepo-com.svg" class="card-img" alt="Imágen Peliculas">
                <div class="card-img-overlay" (click)="gotoMovies()">
                  <h5 class="card-title">Peliculas</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../../../assets/category_icons/tv-svgrepo-com.svg" class="card-img" alt="Imágen Series">
                <div class="card-img-overlay" (click)="gotoSeries()">
                  <h5 class="card-title">Series</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../../../assets/category_icons/headphones-svgrepo-com.svg" class="card-img" alt="Imágen Música">
                <div class="card-img-overlay" (click)="gotoGames()">
                  <h5 class="card-title">Música (Juegos)</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../../../assets/category_icons/dragon-ball-svgrepo-com.svg" class="card-img" alt="Imágen Anime">
                <div class="card-img-overlay" (click)="gotoAnime()">
                  <h5 class="card-title">Anime</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../../../assets/category_icons/kanji-symbol-svgrepo-com.svg" class="card-img" alt="Imágen Manga">
                <div class="card-img-overlay" (click)="gotoManga()">
                  <h5 class="card-title">Manga</h5>
                </div>
            </div>
        </div>
    </div>
</div>
