<section class="container-fluid createTemplate-view h-100 ">
    <div class="row h-100 ">
        <div class="col-8  h-100 ">
            <app-api-search-results *ngIf="contestants" [contestants]="contestants"
            (addContestant)="onContestantSelected($event)" (search)="onSearch($event)">
            </app-api-search-results>
        </div>
        <div class="col-4 bg-info">
            <app-selected-contestant-list [selectedContestants]="selectedContestants"
            (removeContestant)="onRemoveContestant($event)">
        </app-selected-contestant-list>
        </div>
    </div>
</section>