.viewpage{

    overflow-y: auto;
    overflow-x: hidden;
}
.right-side{
    height: 85vh;   
    background: rgba(255, 255, 255, 0.25);
}

.left-side{
    height: 85vh;
    background: rgba(16, 0, 56, 0.385)
}

.tournament-page{
    height: 85vh;
    border-radius: 0.375rem;
}

.cover-img{
    height: 250px;
    width: 250px;
    img{
        height:100%;
        object-position: top;
    }
}

.contestant-list, .stat-list{
    height: 90%;
    overflow-y: auto;
}

.play-button-area{
    height: 15%;
}
