<div class="container">
    <div class="tournament-page row justify-content-between">
        <section class="left-side col-4 border-end p-4">
            <div class="row">
                <div class=" col">
                    <div class="cover-img card bg-transparent border-0 mb-3">
                        <img class="img object-fit-cover rounded-2" *ngIf="template" src={{template.coverImg}} alt="">
                    </div>
                </div>
            </div>
            <div class="info row">
                <div class="col" *ngIf="template">
                    <h1>{{template.templateName}}</h1>
                    <h2>Torneo de {{template.category}}</h2>
                    <p *ngIf="template.timesPlayed && template.timesPlayed > 1">
                        {{template.contestants!.length}} participantes <br>
                        {{template.timesPlayed}} veces jugado
                    </p>
                    <p *ngIf="template.timesPlayed === 1">
                        {{template.contestants!.length}} participantes <br>
                        {{template.timesPlayed}} vez jugado
                    </p>
                </div>
            </div>
        </section>
        <section class="right-side col-8 p-4">
            <section class="contestant-list row row-cols-4 justify-content-center align-items-start g-2" *ngIf="template">
                <div class="col card align-content-cente border" *ngFor="let contestant of template.contestants">
                    <div class="card-body align-content-center">
                        <app-contestant-minimal  [contestant]="contestant">
                        </app-contestant-minimal>
                        <app-contestant-stat  *ngIf="form.get('showStatistics')?.value" [contestant]="contestant">
                        </app-contestant-stat>
                    </div>
                </div>
            </section>
            <section class="play-button-area row justify-content-center align-items-center g-2">
                <div class="col">
                    <form [formGroup]="form" class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar estadísticas</label>
                        <input class="form-check-input" type="checkbox" role="switch" formControlName="showStatistics">
                    </form>
                </div>
                <div class="col">
                    <div class="btn-group btn-group-lg" role="group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Jugar Torneo
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let roundInfo of roundsInfo">
                                <a class="dropdown-item"
                                    routerLink="play-tournament/{{roundInfo.round}}">{{roundInfo.round}}
                                    rondas con
                                    {{roundInfo.contestantsCount}} participantes <span
                                        *ngIf="roundInfo.freePasses">y {{roundInfo.freePasses}} pasan
                                        gratis</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>