<div class="play-area container p-5">
    <div class="winner-card text-bg-primary bg-gradient rounded container" *ngIf="winner; else displayVoting" >
        <div class="row justify-content-center align-items-center text-center">
            <div class="col justify-content-center">
                <img class="crown-icon m-1" src="../../../../../assets/crown-svgrepo-com.svg">
                <div class="card winner-cover contain-image m-auto">
                    <img class="rounded object-fit-cover" src="{{winner.img}}" alt="Winner Cover Image">
                </div>
                
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center" >
            <div class="col g-3">
                <p class="fs-3">{{winner.name}}</p>
                <p class="fs-5">Campeón de {{tournament.template.templateName}}</p>
                <button class="btn bg-warning mb-3" (click)="onTournamentConcluded()">Volver al torneo</button>
            </div>
        </div>
    </div>
    
    <ng-template #displayVoting>
        <div class="row justify-content-center align-items-center g-2 mb-5">
            <div class="col ">
                <app-tournament-progress [totalRounds]="totalRounds"
                [currentRound]="currentRound"></app-tournament-progress>
            </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-3">
                <app-contestant-card-big *ngIf="leftContestant" [contestant]="leftContestant"
                    (voteContestant)="onVote($event)"></app-contestant-card-big>
            </div>
            <div class="col-2 text-center">
                <app-matchup-tracker [currentMatch]="currentMatch + 1"
                    [totalMatches]="totalMatchesForCurrentRound"></app-matchup-tracker>
            </div>
            <div class="col-3">
                <app-contestant-card-big *ngIf="rightContestant" [contestant]="rightContestant"
                    (voteContestant)="onVote($event)"></app-contestant-card-big>
            </div>
        </div>
    </ng-template>
</div>
