.selected-contestants-list {

    flex-grow: 0.5;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    overflow-y: scroll;
    gap: 10px; /*hacer relativo despues*/

    /*estilo separado de los campos de flexbox*/
    height:95vh; /*creo que esto es efectivo (?*/
    width: 30vw;
    background-color:  rgba(154, 185, 163, 0.5);
    margin: 0;
    
}