<form [formGroup]="form" class="selected-contestants-list align-items-end container w-100 h-100" (ngSubmit)="onSubmit()">
    <div id="template-title-box" class="row my-2">
        <input type="text" formControlName="templateName"
        class="form-control border border-0" placeholder="Titulo del Torneo">
    </div>
    <div *ngIf="form.invalid && form.dirty && form.touched" class="alert p-0 my-0 border-0 text-start text-danger " role="alert">
        A simple danger alert—check it out!
      </div>
    <div id="contestant-list"class="row align-items-start rounded-2 mt-2">
        <div class="col list-group list-group-flush justify-content-center p-0 ">
            <app-contestant-list-item *ngFor="let constestant of selectedContestants" [contestant]="constestant"
            (selectContestant)="onRemoveContestant($event)">
            </app-contestant-list-item>
        </div>
    </div>
    <div id="bottom-row"class="row justify-content-center mt-3">
        <p class="col-7">{{selectedContestants.length}} participantes</p>
        <input type="submit" class="btn btn-primary col-4 mb-3 " [disabled]="!isSubmitEnabled()" value="Crear">
    </div>
</form>

