.selected-contestants-list {

    display: inline-flex;
    flex-grow: 0.5;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    overflow-y: scroll;
    gap: 10px; /*hacer relativo despues*/

    /*estilo separado de los campos de flexbox*/
    height:inherit; /*creo que esto es efectivo (?*/
    background-color: #20b2aa;
    padding-top: 1rem;
}