.selected-contestants-list {
    height: 80vh;
    margin: 0;
}

#contestant-list{
    position:relative;
    height: 55vh;
    height: 60vh;
    overflow-y: auto; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255,0.50);
}

#template-title-box{
    input{
        background: rgba(255, 255, 255,0.50);
    }
}
