.creditspage {
    overflow-y: auto;
    overflow-x: hidden;
    height: 92vh;
}

.contact-info {
    a {
        img {
            width: 100px;
        }
    }
}

.info {
    background: rgba(255, 255, 255, 0.25);
}