<div class="card list-group-item " (click)="onCardClick()">
    <div class="row align-items-center justify-content-center text-start ps-1">
        <div class="col-3 g-0">
            <img src={{contestant.img}} alt="Cover image">
        </div>
        <div class="col-9 gx-5">
            <div class="card-title">
                <p>{{contestant.name}}</p>
            </div>
            <div class="card-text">
                <p>{{contestant.date}}</p>
                <p>{{contestant.author}}</p>
            </div>
        </div>
    </div>
</div>