.contestant-list-item {  
    display: grid;
    text-align: center;
    margin: 5px; /*hacer relativo despues*/
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 0.2fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "portada titulo"
      "portada info";
  }
  
.cover-img {
    grid-area: portada; 
    margin: 5px; /*hacer relativo despues*/
    align-self: center;
    
}

.cover-img > img{ 
    max-width: 10vw;
    min-height: 50px;
    max-height: 20vh;
    display: block;
    margin: auto;
}
    
  
.title {
    grid-area: titulo;
    text-wrap: nowrap;
    
}
  
.info {
    grid-area: info;
}