<div class="container-fluid overflow-auto">
    <div class="row justify-content-center my-5">
        <img src="assets/landing.svg" alt="logo">
        <br>
        <h1 class="display-1 text-center">Al final, solo quedará uno...</h1>
        <h2 class="display-6 text-center w-50">Crea y juega torneos enfrentando a tus peliculas favoritas, series,
            juegos y más!</h2>
    </div>
    <h2 class="mx-1 mx-md-5 px-5 my-3">Torneos populares</h2>
    <app-template-showcase-list *ngIf="popularTemplates" [templateList]="popularTemplates"></app-template-showcase-list>
</div>