/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
$transparent-bg-25: white;
/* You can add global styles to this file, and also import other style files */
body{
    width: 100%; /*esto es un porcentaje? es la unidad adecuada?*/
    height: 100%;
    overflow-y: auto; 

    background: rgb(140,83,255);
    background: linear-gradient(90deg, rgba(140,83,255,1) 0%, rgba(92,224,230,1) 100%);
    background-blend-mode: normal;
}