/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
body{
    overflow-y: hidden; 

    background: rgb(140,83,255);
    background: linear-gradient(90deg, rgba(140,83,255,1) 0%, rgba(92,224,230,1) 100%);
    background-blend-mode: normal;
}
